name: 'Gitbook Action Build'
on:
  watch:
    types: started
  push:
    branches:
      - master  # trigger branch
  workflow_dispatch:
    inputs:
      name:
        description: '手动触发'
        required: true
        default: 'Mona the Octocat'
        
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout action
      uses: actions/checkout@v2
    - name: Gitbook Action                    # https://github.com/ZanderZhao/gitbook-action/releases
      uses: ZanderZhao/gitbook-action@master # -> or ZanderZhao/gitbook-action@master.If not use master click above, use latest please 
      with:                                   #    or fork this repo and use YourName/gitbook-action@master
        token: ${{ secrets.PERSONAL_TOKEN }}  # -> remember add this in settings/secrets as following
        time_zone: Asia/Shanghai
        source_dir: gitbook-source
        source_edit_time: true
